<!doctype html>
<html lang="en">

  <head>
    <title>Need and Deed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
              <a href="home">Need and Deed<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
              
              
              
              <div class="site-section py-5">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-12 d-flex">
                    <a href="" class="btn btn-warning btn-custom-1 py-3 px-5 ml-auto">{{ name }}</a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="site-section py-5">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-12 d-flex">
                    <a href="getout" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Log out</a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
       

      </header>

    <div class="ftco-blocks-cover-1">
       
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('static/home/images/blood.png')">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5">
              
            </div>
            <!--<div class="col-md-6 ml-auto align-self-end">
              <img src="{% static 'home/images/kid_transparent.png' %}" alt="Image" class="img-fluid">
              
            </div>-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="text-cursive h5 text-red d-block">Support us</span>
            <h2 class="text-black">Gift and Donations</h2>
            <p>We are doing this without anything. Still we have expances to run this service. Donate what you can and help us continue our job.</p>
          </div>
          <div class="col-md-4">
            <div class="pricing teal">
              <span class="price">
                <span>D</span>
              </span>
              <h3>Support Developers</h3>
              <ul class="ul-check list-unstyled teal">
                <li>Help us continue</li>  
                <li>Provide what you can</li>
              </ul>
              <p><a href="donatepage" class="btn btn-teal btn-custom-1 mt-4">Donate</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pricing danger">
              <span class="price">
                <span>G</span>
              </span>
              <h3>Gift Donors</h3>
              <ul class="ul-check list-unstyled danger">
                <li>Encourge blood donations</li>  
                <li>Gift your donors</li>
              </ul>
              <p><a href="donatepage" class="btn btn-danger btn-custom-1 mt-4">Gift</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-home"></span>
              </span>
              <h2>Whoever saves one life saves the world entire.</h2>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 yellow">
              <span class="wrap-icon">
                <span class="icon-person"></span>
              </span>
              <h2>Not all heros wear capes. Be a hero in someone's life.</h2>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 teal">
              <span class="wrap-icon">
                <span class="icon-clock-o"></span>
              </span>
              <h2>Blood can circulate forever if you keep donating it.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    


    <div class="site-section py-5 bg-warning">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 d-flex">
          <a href="delete" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Delete Account</a>
          </div>
        </div>
      </div>
    </div>

    

    <footer class="site-footer">
    </footer>

    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'home/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'home/js/aos.js' %}"></script>

    <script src="{% static 'home/js/main.js' %}"></script>

  </body>

</html>

