<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title Page-->
    <title>Update</title>

    {% load static %}
    <!-- Icons font CSS-->
    <link href="{% static 'signup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'signup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'signup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'signup/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'signup/css/main.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Update</h2>
                    <form method="POST" action="update">{% csrf_token %}
                        
                        {% if option == 'email' %}
                        
                        <div class="input-group">
                            <input required class="input--style-2" type="email" placeholder="Email" name="email">
                        </div>
                        {% endif %}
                        
                        {% if option == 'password' %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input required class="input--style-2" type="password" placeholder="New Password" name="password">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input required class="input--style-2" type="password" placeholder="Confirm password" name="cpassword">
                                </div>
                            </div>
                        </div>
                        
                        {% endif %}
                        
                        
                        
                        {% if option == 'phone' %}
                                <param option="phone">
                                <div class="input-group">
                                    <input required class="input--style-2" type="text" placeholder="Phone" name="phone">
                                </div>
                        {% endif %}
                        
                        {% if option == 'place' %}
                            <input type="hidden" name="option" value="place">
                                <div class="input-group">
                                    <input required class="input--style-2" type="text" placeholder="City" name="city">
                                </div>
                        {% endif %}
                        {% if option == 'lastdonation' %}
                                <input type="hidden" name="option" value="last_donation">
                                <div class="input-group">
                                    <input required class="input--style-2 js-datepicker" type="text" placeholder="Last donation" name="lastdonation">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                        {% endif %}
                        {% if option == 'preferredgap' %}
                                <input type="hidden" name="option" value="preferred_gap">
                                <div class="input-group">
                                    <input required class="input--style-2" type="text" placeholder="Preferred gap" name="preferredgap">
                                </div>
                        {% endif %}
                        
                        <div class="p-t-10">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'signup/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'signup/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'signup/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'signup/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'signup/js/global.js' %}"></script>

</body>

</html>
<!-- end document-->